// CSS for the chevron on the row toggle
.color-text {
    color: $c-main;
}
.faded {
    opacity: 0.15;
}

// table headers from fw-column-title
.fw-table-column-title {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
    display: inline-block;
    float: left;
    text-align: left;
}
.fw-table-column-title.title-icon {
    width: calc(100% - 1em)
}

.table-body {
    overflow: auto;
}

/**
 * Remove bootstrap table bottom margin, it just looks bad in most cases
 */
.table {
    margin-bottom: 0;
}

/**
 * Class to make a table have a sticky header, so it shows as you scroll through the table
 * Useful for tables with a large number of rows
 *
 * sticky-table-top is the same as stick-table, except it ignores the ember-fw sticky header for its position
 */
.sticky-table, .sticky-table-top {
    // need to clear overflow so sticky works
    .table-body, .ember-light-table {
        overflow: unset
    }
    .ember-light-table {
        .lt-head-wrap, .lt-body-wrap {
            overflow-y: unset;
        }
        // apply sticky logic to the head div, so the whole header scrolls
        .lt-head {
            position: -webkit-sticky;
            position: sticky;
            top: 0;
            background-clip: padding-box;
            z-index: 100;
        }
    }
}
// on desktop, the FW header is sticky, so push this down a bit under it
@media(min-width: 501px) {
    .sticky-table .ember-light-table .lt-head {
        top: 100px;
    }
}


/**
 * Makes sortable items in fw-table-sortable render better
 */
.sortable-list .sortable-item,
.resort-list .sortable-item {
    list-style-type: none;

    textarea {
        resize: vertical;
    }

    .checkbox {
        margin-top: 0px;
    }
}
.resort-list .sortable-item {
    margin: 10px 0;
}

// prevent form-control elements nested inside a table from appearing on top of all elements
.fw-table-resort .input-group .form-control {
    z-index: inherit;
}

.ember-light-table .table {
    // header left aligns
    .lt-head .align-toggle {
        text-align: left;
    }
    .lt-body {
        // hide the toggle, or index on hover
        &:hover .hide-on-hover-index,
        &:not(:hover) .hide-on-hover-toggle {
            display: none;
        }

        // center align hover, right otherwise
        .align-toggle {
            text-align: right;
        }
        &:hover .align-toggle {
            text-align: center;
        }
    }
}
