{{#if tableActions.edit}}
    <button class='btn btn-sm btn-primary' title='Edit' {{action tableActions.edit row.content bubbles=false}}>
        <i class='fa-solid fa-pencil'/>
        {{unless column.small 'Edit'}}
    </button>
{{/if}}
{{#if tableActions.delete}}
    <button class='btn btn-sm btn-danger' title='Delete' {{action tableActions.delete row.content bubbles=false}}>
        <i class='fa-regular fa-trash-can'/>
        {{unless column.small 'Delete'}}
    </button>
{{/if}}
