{{!-- If we have a value, display that, otherwise fallback to the value defined in the column --}}
{{#if value}}
    {{value}}
{{else}}
    <i>{{if column.nullText column.nullText 'None'}}</i>
{{/if}}
