{{#if (eq value 2)}}
    <span class="text-success" title="Has Permission"><i class="fa-solid fa-check"></i></span>
{{/if}}
{{#if (eq value 1)}}
    <span class="text-primary" title="Permission Determined By Access Control"><i class="fa-solid fa-lock"></i></span>
{{/if}}
{{#if (eq value 0)}}
    <span class="text-danger" title="Doesn't Have Permission"><i class="fa-solid fa-xmark"></i></span>
{{/if}}
