<FwFullscreenModal @modal="confirm-choice" @size="sm" @model={{hash
        confirmButtonText="Delete"
        confirmButtonStyle="danger"
        confirmButtonIcon="fa-regular fa-trash-can"
        onconfirm=(action 'deleteModel')
        message=_message
    }} @close={{close}} @scrollTop={{scrollTop}} />
