{{!-- Search buttons, whole search component is in block --}}
{{yield (hash
    search=(action 'search')
    export=(action 'export')
) false}}

{{!-- Table contents, show loading spinner if in progress --}}
<div class={{tableWrapperClass}}>
    {{#if searchingTable}}
        <FwLoadingSpinner />
    {{else if pageEntries}}
        {{!-- Page numbers --}}
        {{#if (and showPages showPagesTop)}}
            <div class="text-center" style="overflow:auto">
                <PageNumbers @content={{hash }} @showFL={{true}} @currentPage={{page}} @numPagesToShow={{maxPageButtons}} @totalPages={{totalPages}} @action={{action "setPage"}} />
            </div>
        {{/if}}
        {{!-- If we are searching a page, show its loading spinner --}}
        {{#if pagesSearching}}
            <FwLoadingSpinner />
        {{else}}
            {{!-- If given a column getter, use that for columns --}}
            {{#if tableColumns}}
                <FwTableSortable @data={{filteredEntries}} @columns={{tableColumns}} @title={{fullTableTitle}} @class="sticky-table" @defaultSort={{array tableSortKey defaultSortKey}} @responsive={{true}} @empty={{emptyText}} @hideEmpty={{hideEmpty}} @canExport={{if showExport "Export Page" false}} @deleteTable={{deletePage}} @deleteTablePermission={{deletePagePermission}} @deleteOverrideTitle="Delete Page" @onSort={{action "sortColumn"}} @tableActions={{tableActions}} />
            {{else}}
                {{!-- Let the user provide the table --}}
                {{yield (hash
                    sort=(action 'sortColumn')
                ) (hash
                    title=fullTableTitle
                    suffix=tableSuffix
                    entries=filteredEntries
                    sortKey=tableSortKey
                )}}
            {{/if}}

            {{!-- Second page numbers --}}
            {{#if (and showPages showPagesBottom)}}
                <div class="text-center" style="overflow:auto">
                    <PageNumbers @content={{hash }} @showFL={{true}} @currentPage={{page}} @numPagesToShow={{maxPageButtons}} @totalPages={{totalPages}} @action={{action "setPage"}} />
                </div>
            {{/if}}
        {{/if}}
    {{/if}}
</div>
