{{#if (or (and hasBlock showHeader) title canExport)}}
    <header class="panel-heading">
        {{#if (and hasBlock showHeader)}}
            {{yield (action 'export') true}}
        {{else}}
            <strong class="panel-title">{{or title 'Table'}}</strong>
            {{#if (and deleteTable deleteTablePermission)}}
                <FwPromiseButton @class="btn btn-xs pull-right" @buttonIcon="fa-regular fa-trash-can" @buttonText={{deleteTitle}} @buttonStyle="danger" @promise={{action deleteTable data}} @type="submit" />
            {{/if}}
            {{#if canExport}}
                <button class="btn btn-xs btn-primary pull-right" {{action 'export'}}>
                    <i class="fa-regular fa-file-excel"/>
                    {{exportTitle}}
                </button>
            {{/if}}
        {{/if}}
        <div class="clearfix"/>
    </header>
{{/if}}
<section class="panel-body table-body">
    {{#if (and table.isEmpty (not headerEmpty))}}
        {{empty}}
    {{else}}
        {{#light-table
            table
            height=fixedHeight
            tableClassNames=(concat "table table-striped table-bordered " tableClassNames)
            tableActions=tableActions
            responsive=responsive
            breakpoints=breakpoints
            as |t|
        }}
            <t.head @onColumnClick={{action "sort"}} @iconAscending="fa-solid fa-sort-up" @iconDescending="fa-solid fa-sort-down" @iconSortable="fa-solid fa-sort" @sortOnClick={{false}} @fixed={{if fixedHeight true false}} @resizeOnDrag={{resizeOnDrag}} />
            <t.body @canExpand={{hasExpandedColumns}} @onRowClick={{action "expand"}} @expandOnClick={{false}} @multiRowExpansion={{false}} @rowComponent={{component "fw-expandable-row"}} @canSelect={{false}} as |body|>
                {{#if table.hasExpandedColumns}}
                    <body.expanded-row as |row|>
                        <FwTableExpandedRows @tableActions={{tableActions}} @table={{table}} @row={{row}} />
                    </body.expanded-row>
                {{/if}}

                {{#if table.isEmpty}}
                    <body.no-data>
                        {{empty}}
                    </body.no-data>
                {{/if}}
            </t.body>
        {{/light-table}}
    {{/if}}
</section>
{{#if (and hasBlock showFooter)}}
    <footer class="panel-footer clearfix">
        {{yield (action 'export') false}}
    </footer>
{{/if}}
