{{#if hasColumns}}
    <dl class="dl-horizontal">
        {{#each columns as |column|}}
            <FwTableExpandedRow @tableActions={{tableActions}} @table={{table}} @row={{row}} @column={{column}} @rawValue={{get row column.valuePath}} />
        {{/each}}
    </dl>
{{/if}}
