{{!-- If column has a hideLabel set to true, just spit back the value of whatever the user gave it --}}
{{#if column.hideLabel}}
    {{#if column.cellComponent}}
        {{!-- Pass in all the normal component values, but add an extra boolean so they know it is a hidden row --}}
        {{component column.cellComponent tableActions=tableActions table=table column=column row=row value=value rawValue=rawValue isExpandedRow=true}}
    {{else}}
        {{value}}
    {{/if}}
{{else}}
    {{!-- Only print the cell if the column label is defined--}}
    {{#if column.label}}
        <dt class="{{column.classNames}}" title="{{column.label}}">{{column.label}}:</dt>
        <dd class="{{column.cellClassNames}}">
            {{!-- If the cell has a custom component, use that --}}
            {{#if column.cellComponent}}
                {{!-- Pass in all the normal component values, but add an extra boolean so they know it is a hidden row --}}
                {{component column.cellComponent tableActions=tableActions table=table column=column row=row value=value rawValue=rawValue isExpandedRow=true}}
            {{else}}
                {{value}}
            {{/if}}
        </dd>
    {{/if}}
{{/if}}
