<SortableGroup @tagName="ul" @class="js-list-sort resort-list" @onChange={{action "reorderItems"}} as |group|>
    {{#each sortedItems as |item|}}
        <SortableItem @tagName="li" @model={{item}} @group={{group}} @handle=".handle" @spacing={{spacing}}>
            <div class="input-group">
                <span class="input-group-addon handle draggable">
                    <i class="fa-solid fa-ellipsis-vertical fa-2"></i>
                </span>
                {{#if hasBlock}}
                    {{#if allowExpand}}
                        {{#if item.unexpandable}}
                            <span class="input-group-addon">
                                <i class="fa-solid fa-chevron-right faded"></i>
                            </span>
                        {{else}}
                            <span class="input-group-addon clickable" {{action "toggleExpanded" item}}>
                                <i class={{if item.expanded "fa-solid fa-chevron-down" "fa-solid fa-chevron-right"}}></i>
                            </span>
                        {{/if}}
                    {{/if}}
                    {{yield item item.expanded}}
                {{else}}
                    <div class="form-control">
                        {{get item titleKey}}
                    </div>
                {{/if}}
                {{#if delete}}
                    {{#if item.forced}}
                        <span class="input-group-addon">&nbsp;&nbsp;&nbsp;</span>
                    {{else}}
                        <span class="input-group-addon clickable" {{action "deleteItem" item}}>
                            <i class={{deleteIcon}}></i>
                        </span>
                    {{/if}}
                {{else}}
                    <span class="input-group-addon"/>
                {{/if}}
            </div>
        </SortableItem>
    {{else}}
        {{empty}}
    {{/each}}
</SortableGroup>
